/* style.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #c7e3ff;
}

header {
  background-color: #1e293b;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.events {
  padding: 30px;
  text-align: center;
}

.events h2 {
  margin-bottom: 20px;
}
.card_container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;

}
.card {
  
  background-color: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: left;

}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background-color: #3b82f6;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#contact {
  background-color: #2c3e50; 
  color: #ffffff;            
  padding: 10px 10px;        
  text-align: center;       
  margin-top: auto;
}

#contact h3 {
  font-size: 35px;
  margin-bottom: 15px;
}

#contact p {
  margin: 25px;
  font-size: medium;
  
}
